<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a routerLink="/home" class="navbar-brand">Travelogue</a>
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a routerLink="/home" class="nav-link">Destinations</a>
        </li>
        <li class="nav-item">
          <a routerLink="/feedCompositionDetail" class="nav-link"
            >Composition Detail</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/feedCompositionDetail" class="nav-link">Hot Stuff</a>
        </li>
        <li class="nav-item">
          <a routerLink="/home" class="nav-link">Blogs</a>
        </li>
        <li class="nav-item">
          <a routerLink="/home" class="nav-link">About Us</a>
        </li>

        <li class="nav-item">
          <a routerLink="/stock-info" class="nav-link">Stock Info</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
