<!-- PHOTO GALLERY -->
<section id="gallery" class="py-5">
  <div class="container">
    <h1 class="text-center">
      Photo Gallery of {{ destinationName | titlecase }}
    </h1>
    <p class="text-center">Check out our photos</p>
    <div class="row">
      <div class="col-md-4 mb-2" *ngFor="let url of photoUrls">
        <a
          href="{{ url }}"
          data-lightbox="travelouge"
          data-title="Fun at {{ destinationName | titlecase }}"
        >
          <img src="{{ url }}" alt="" class="img-fluid rounded" />
        </a>
      </div>
    </div>
  </div>
</section>
