<section id="blog" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card-columns">
          <div class="card">
            <img
              src="../../assets/images/destinations/IMG_8717.JPG"
              alt=""
              class="img-fluid card-img-top"
            />
            <div class="card-body">
              <h4 class="card-title">Las Vegas, Nevada, USA</h4>
              <small class="text-muted">Travelled on 02/17/2017</small>
              <hr />
              <blockquote class="card-blockquote card-body">
                <p>
                  What happens in Vegas stays in Vegas!
                </p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    <cite title="Source Title">Mr Alok</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>

          <div class="card">
            <img
              src="../../assets/images/destinations/IMG_8978.JPG"
              alt=""
              class="img-fluid card-img-top"
            />
            <div class="card-body">
              <h4 class="card-title">
                Valley Of Fire State Park, Nevada, USA
              </h4>
              <small class="text-muted">Travelled on 02/17/2017</small>
              <hr />
              <blockquote class="card-blockquote card-body">
                <p>
                  Once a Year, go someplace you have never been before!
                </p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    <cite title="Source Title">Dalai Lama</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>

          <div class="card">
            <img
              src="../../assets/images/destinations/Maa_Baa_Niagara.JPG"
              alt=""
              class="img-fluid card-img-top"
            />
            <div class="card-body">
              <h4 class="card-title">Niagara Falls, NYC, USA</h4>
              <small class="text-muted">Family Trip on 10/28/2017</small>
              <hr />
              <blockquote class="card-blockquote card-body">
                <p>
                  It’s Niagara Falls. It’s one of the most beautiful natural
                  wonders in the world. Who wouldn’t want to walk across it?
                </p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    <cite title="Source Title">Anonymous</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>

          <div class="card">
            <img
              src="../../assets/images/destinations/Kamakhya_Temple.JPG"
              alt=""
              class="img-fluid card-img-top"
            />
            <div class="card-body">
              <h4 class="card-title">Kamakhya Temple, Guwahati, India</h4>
              <small class="text-muted">Family Trip on 09/02/2018</small>
              <hr />
              <blockquote class="card-blockquote card-body">
                <p></p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    <cite title="Source Title"></cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>

          <div class="card">
            <img
              src="../../assets/images/destinations/Bou_Papa_Panama.JPG"
              alt=""
              class="img-fluid card-img-top"
            />
            <div class="card-body">
              <h4 class="card-title">Panama City Beach, Florida, USA</h4>
              <small class="text-muted">Family Trip on 09/22/2018</small>
              <hr />
              <blockquote class="card-blockquote card-body">
                <p></p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    <cite title="Source Title"></cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>

          <div class="card">
            <img
              src="../../assets/images/destinations/Kamakhya_Temple.JPG"
              alt=""
              class="img-fluid card-img-top"
            />
            <div class="card-body">
              <h4 class="card-title">Kamakhya Temple, Guwahati, India</h4>
              <small class="text-muted">Family Trip on 09/02/2018</small>
              <hr />
              <blockquote class="card-blockquote card-body">
                <p></p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    <cite title="Source Title"></cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>

          <div class="card">
            <img
              src="../../assets/images/destinations/Kamakhya_Temple.JPG"
              alt=""
              class="img-fluid card-img-top"
            />
            <div class="card-body">
              <h4 class="card-title">Kamakhya Temple, Guwahati, India</h4>
              <small class="text-muted">Family Trip on 09/02/2018</small>
              <hr />
              <blockquote class="card-blockquote card-body">
                <p></p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    <cite title="Source Title"></cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>

          <div class="card">
            <img
              src="../../assets/images/destinations/Kamakhya_Temple.JPG"
              alt=""
              class="img-fluid card-img-top"
            />
            <div class="card-body">
              <h4 class="card-title">Kamakhya Temple, Guwahati, India</h4>
              <small class="text-muted">Family Trip on 09/02/2018</small>
              <hr />
              <blockquote class="card-blockquote card-body">
                <p></p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    <cite title="Source Title"></cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
